# Gradle
.gradle/
build/
app/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs y perfiles
*.log
*.hprof

# APKs
*.apk

# Keystore
*.jks
*.keystore

# macOS
.DS_Store

# Linux
*~
